<!DOCTYPE html>
<html>
  <head>
    <title>TheAcademy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/883bd36042.js" crossorigin="anonymous"></script>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <script type="text/javascript">
    window.splashBackground = "<%= image_url('nicolas-hoizey-2MuZ23gkFKo-unsplash.jpg') %>";
    </script>

  <body>
    <%= yield %>
  </body>
</html>
