<!DOCTYPE html>
<html>
  <head>
  <title>The Academy </title>
  <meta name="description" content="A fullstack clone of the popular Instructables website to serve as a portfolio piece for Chris Simons" />
  <meta name="title" property="og:title" content="The Academy" />
  <meta property="og:type" content="Website" />
  <meta name="image" property="og:image" content="https://i.imgur.com/MR2y1v3.png" />
  <meta name="description" property="og:description" content="The Academy" /><meta name="author" content="Chris Simons" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/883bd36042.js" crossorigin="anonymous"></script>
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <script type="text/javascript">
    window.splashBackground = "<%= image_url('nicolas-hoizey-2MuZ23gkFKo-unsplash.jpg') %>";
    </script>

  <body>
    <%= yield %>
  </body>
</html>
